# Web Framework & Server
Flask
gunicorn

# HTTP Requests
requests
aiohttp

# Security & Authentication
PyJWT
Flask-Limiter
Flask-WTF
google-auth
google-auth-oauthlib
pycryptodome

# Environment Variables
python-dotenv

# Geolocation
geopy

# Google Generative AI API
google-generativeai