<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>活動詳情 – {{ event.title }}</title>
  <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>{{ event.資料名稱 }}</h1>
    <p>唯一識別碼：{{ event.唯一識別碼 }}</p>
    <table class="table">
      {% for key, value in event.items() %}
      <tr>
        <th>{{ key }}</th>
        {% if value %}
          <td>{{ value }}</td>
        {% else %}
          <td><em>無資料</em></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    <input type ="button" onclick="history.back()" value="回到上一頁"></input>
  </div>
</body>
</html>
